.container {
  max-width: 800px; /* Reduced width for compact view */
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Spacing between sections */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
}

.title {
  color: white;
  font-size: 24px;
  margin: 0;
}

.connectButton,
.disconnectButton,
.actionButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.actionButton {
  background-color: #008cba;
}

.connectButton:hover,
.disconnectButton:hover,
.actionButton:hover {
  background-color: #45a049;
}

.section {
  background-color: #fafafa;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.inputField {
  width: calc(100% - 20px); /* Adjust width to fit the padding */
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.transferOwnershipSection,
.depositSection,
.withdrawSection,
.depositErc20Section,
.withdrawErc20Section,
.depositErc721Section,
.withdrawErc721Section,
.depositErc1155Section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.statusSection,
.errorSection {
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
}

.errorSection {
  color: red;
}

.navbarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ownerInfo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 2px;
}
